<!DOCTYPE html>
<html>
<head>
  <title>Form Submission</title>
</head>
<body>
  <h1>Form Submission</h1>
  <form id="myForm">
    <label for="user_input">Name:</label>
    <input type="text" id="user_input" required><br>

    <label for="user_email">Email:</label>
    <input type="email" id="user_email"  required><br>

    <label for="user_edu">Qualification:</label>
    <input type="text" id="user_edu"  required><br>

    <label for="user_dob">Date of Birth:</label>
    <input type="text" id="user_dob" required><br>

    <button type="submit">Submit</button>
  </form>

  <script>
    const form = document.getElementById('myForm');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      const userName = document.getElementById('user_input').value;
      const userEmail = document.getElementById('user_email').value.toLowerCase();
      const userEdu = document.getElementById('user_edu').value;
      const userDob = document.getElementById('user_dob').value;

      const data = {
        name: userName,
        email: userEmail,
        qualification: userEdu,
        date_of_birth: userDob
      };

      try {
        const response = await fetch('https://biodata.fastgen.com/create-user', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        });

        if (response.ok) {
          console.log('Data sent successfully');
          window.location.href = `/p/${userName}`;
        } else {
          console.error('Error occurred:', response.status);
        }
      } catch (error) {
        console.error('Error:', error);
      }
    });
  </script>
</body>
</html>
